#content {
  padding: 5%;
  background-color: whitesmoke;	
}

hr {
  border: 1px solid black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(#2F4F4F, #034694);
  width: 100%;
  height: auto;
  position: fixed;
}

nav ul li {
  float: left;
  width: 30%;
}

nav ul li a {
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.babushka {
  border-radius: 0.5em;
  width: fit-content;
  background-image: linear-gradient(whitesmoke, silver);
  padding: 2px
}

#resumepicture {
  width: 100%;
  height: auto
  border-radius: 0.5em;
  object-fit: contain;
}

li a:hover {
  background-color: white;
  color: black;
}

.bye {
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  background-image: linear-gradient(#2F4F4F, #034694);
  color: white;
  padding: 3%;
  clear: left;
}
<!--previous style for page headers.-->
.gstyle {
  border-radius:0.5em;
  width:fit-content;
  color: black;
  text-shadow: 1px 1px 2px whitesmoke, 0 0 25px #808080, 0 0 5px #034694; 
}

.fc {
  background-image: linear-gradient(#ffffff, #034694);
  padding: 3%;
  border-radius: 0.5em;
  width: 98%;
}

.tv {
  background-image: linear-gradient(#ffffff, #034694);
  padding: 3%;
  border-radius: 0.5em;
  width: 98%;
}
  